.margin-elements {
  margin: 0%;
}

.min-height-boxes {
  min-width: 509px;
}
.max-width-small-boxes{
  max-width: 339px;
}
.padding-button-28{
  padding-bottom: 20%;
}
.green{
  color: green
}
.orange{
  color: orange
}
