
  .actions-span{
    color: #5c5c5c;
  }
  .buttons-with-icons{
    display: inline-flex;
    padding: 6px;
  }
  .margin-buttons{
    margin-left: 6px;
  }
  .button-roles{
    background-color: rgba(89,29,241,0.1);
    
  }
  .purple-color{
    color: #591df1;
  }
