.domain-container{
  font-family: Poppins;
  div, span{
    border-left: none!important;
  }
  button{
    span{
      color: white,
    }
  }
  span{
    color: #5e6383;
  }
  .step-header{
    font-size: 1.3rem;
  }
  
  
  width: initial;
  max-width: 589px;;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    .MuiTypography-body1-75 {
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.875rem;
      font-weight: 400;
      font-family: Poppins;
      line-height: 1.46429em;
  }
.button-domains{
  color: $white;
  width: 64px;
  height: 20px;
  padding: 0;
  text-transform: none;
}
.MuiStepContent-root-102,
 .MuiStepContent-root-292,
  .MuiStepContent-root-1134,
  .MuiStepContent-root-1442{
  border-left: none;
}
.domains-back-button{
  width: 64px;
  height: 20px;
  padding: 0;
  text-transform: none;
}
.MuiStepConnector-lineVertical-147,
 .MuiStepConnector-lineVertical-337,
 .MuiStepConnector-lineVertical-1179,
 .MuiStepConnector-lineVertical-1487{
  border-left: none;
}
.MuiStepContent-root-256 {
  border:none;
}
.box-background{
  background-color: #f9f9fc !important;
  width: 102px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 24px;
    padding: 7px;
}
.MuiStepConnector-line-299 {
  border: none;
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.typewritter{
      animation: 
      blinking-cursor .5s step-end infinite;
}
.typist-align{
  caret-color: transparent;
}
.button-alighment{
  
  text-align: right;
    margin-top: 16px;
}
.typist-align{
  text-align: left;
}
.fade-in-step1{
  opacity: 0;
    -moz-animation: fadein 2s ease-in 5s forwards; /* Firefox */
    -webkit-animation: fadein 2s ease-in 5s forwards; /* Safari and Chrome */
    -o-animation: fadein 2s ease-in 5s forwards; /* Opera */
    animation: fadein 2s ease-in 5s forwards;
}
.domains-back-button{
  color: #5e6383
}
.fade-in-step3{
  opacity: 0;
    -moz-animation: fadein 2s ease-in 3s forwards; /* Firefox */
    -webkit-animation: fadein 2s ease-in 3s forwards; /* Safari and Chrome */
    -o-animation: fadein 2s ease-in 3s forwards; /* Opera */
    animation: fadein 2s ease-in 3s forwards;
}
.fade-in-search{
  opacity: 0;
    -moz-animation: fadein 2s ease-in 3s forwards; /* Firefox */
    -webkit-animation: fadein 2s ease-in 3s forwards; /* Safari and Chrome */
    -o-animation: fadein 2s ease-in 3s forwards; /* Opera */
    animation: fadein 2s ease-in 3s forwards;
}
.border-td{
  border: none;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
}
